<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="main-page-about">
  <div class="header">
    <button class="button">
      <p class="button-text">Кинотеатр</p></button
    ><button class="button">
      <p class="button-text">Афиша</p></button
    ><button class="button-active">
      <p class="button-text">Справка</p>
    </button>
  </div>
  <div class="about-block">
    <div class="info">
      <p class="adres-prosp-mira-109vyhod-k-zvezdnomu">
        Адрес<br />
        просп. Мира, 109Выход к звездному бульвару
      </p>
      <p class="kontakty-kassa-7-495-687-46-69-www-mo">
        Контакты<br />
        КАССА<br />
        &#43;7 (495) 687-46-69<br />
        www.mos-kino.ru
      </p>
      <p class="cinemanight-mos-kino-ru-www-mos-kino-ru">
        cinemanight.mos-kino.ru/<br />
        www.mos-kino.ru/cinema_9.html
      </p>
    </div>
    <div class="info">
      <div class="title-block">
        <p class="title">ГРАФИК РАБОТЫ</p>
      </div>
      <img
        alt=""
        class="shedule-image"
        src="https://static.overlay-tech.com/assets/87dd13fa-d0e1-410b-9996-db2cdadacc7c.png"
      />
    </div>
  </div>
</div>
</body>
</html>