<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MainPage</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <div class="main-page">
  <div class="header">
    <button class="button">
      <p class="button-text">Кинотеатр</p></button
    ><button class="button">
      <p class="button-text">Афиша</p></button
    ><button class="button-active">
      <p class="button-text">Справка</p>
    </button>
  </div>
  <div class="main-page-section">
    <img
      alt=""
      class="cinema-image"
      src="https://static.overlay-tech.com/assets/37988e55-0000-4e02-b420-ddf98d29c3df.png"
    />
    <p class="address">ВДНХ, просп. Мира, 109</p>
    <p class="cinema-desciption">
      Кинотеатр «Космос» открыт после реконструкции на
      Проспекте Мира. Кинотеатр входит в киносеть «Москино»
      – самую старую московскую кинопрокатную организацию,
      которая ведет свою деятельность с 1934 года. Кинотеатр
      «Космос» — это многофункциональный кинокультуртрный
      киноцентр, который сохраняет уровень низких цен, при
      этом являясь современным и оснащенным самым
      качественным оборудованием.
    </p>
  </div>
</div>
</body>
</html>